@{
    ViewData["Title"] = "Opret spørgeskema";
}
<h1>Opret spørgeskema</h1>
<div class="col-xs-12">
    <form class="col-md-8 col-sm-6 col-xs-6" id="questioncontainer">
        <div class="row">
            <div class="form-group">
                <label for="name">Navn på spørgeskema:</label>
                <input class="form-control" id="name" placeholder="Navn">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="name">Spørgsmål 1:</label>
                <input class="form-control" id="name" placeholder="Spørgsmål 1">
            </div>
        </div>
        <button type="submit" class="btn btn-default">Opret</button>
    </form>
    <div class="col-md-4 col-sm-6 col-xs-6">
    </div>
</div>