@{
    ViewData["Title"] = "Slet spørgeskema";
}
<h1 class="text-center">Slet spørgeskema</h1>
<div class="text-center col-md-8 col-md-offset-2">
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="text-center col-xs-12">
        <button type="submit" class="btn btn-primary btn-lg">Slet valgte</button>
    </div>
</div>